@use 'base';
@import 'mixins';

.card {
  $c: &;

  position: relative;
  height: 185px;
  width: clamp(120px, 8.5vw, 160px);
  perspective: 400px;

  cursor: pointer;

  %card-background {
    @extend %cover-background;
    transition: 500ms ease-out;
    backface-visibility: hidden;
    background-color: black;
  }

  &--flipped {
    #{$c}-side.front {
      transform: rotateY(0deg);
    }

    #{$c}-side.back {
      transform: rotateY(-180deg);
    }
  }

  &-side {
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-side.front {
    @extend %card-background;
    transform: rotateY(-180deg);
    background-image: url('../assets//img/card-back-2.jpg');
  }

  &-side.back {
    @extend %card-background;
    transform: rotateY(0deg);
    background-image: url('../assets//img/card-back.webp');
  }

  &__image-container {
    display: flex;
    aspect-ratio: 12 / 17;
    border-radius: 5px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: auto;
  }

  &__image-title {
    display: inline-block;
    padding-top: 5px;
    font-family: var(--font-herculanum);
    font-size: var(--text-md);
    font-weight: 700;
  }
}
