@use 'base';
@import 'mixins';

.logo {
  @extend %parent-with-centered-children;
  flex-direction: column;
  gap: 5px;

  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;

  transition: 100ms all linear;
  cursor: pointer;

  &__image {
    width: 160px;

    @include respond-to(xs) {
      width: 120px;
    }

    @include respond-to(sm) {
      clamp: 140px;
    }

    @include respond-to(lg, 'min') {
      width: 220px;
    }
  }

  &__text {
    font-family: var(--font-herculanum);
    font-size: var(--text-md);
    font-weight: 600;

    @include respond-to(xs) {
      font-size: var(--text-sm);
    }

    @include respond-to(lg, 'min') {
      font-size: var(--text-lg);
    }
  }

  &:focus,
  &:hover {
    transform: scale(1.1);
  }

  &:focus-within {
    outline: none;
  }
}
