@use 'base';
@import 'mixins';

.scoreboard {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;

    padding: 10px;
    font-family: var(--font-herculanum);

    @include respond-to(lg, 'min') {
      font-size: var(--text-lg);
    }
  }
}
