@import 'mixins';

.screen-game {
  @extend %cover-background;
  @extend %parent-with-centered-children;
  position: relative;
  color: var(--color-text-opposite);

  &__scoreboard-container {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__cards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    width: fit-content;

    @include respond-to(sm) {
      gap: 10px;
      max-width: 100vw;
    }

    @include respond-to(xs) {
      gap: 0;
    }

    @include respond-to(xl, 'min') {
      gap: 50px;
    }

    @include respond-to(xxl, 'min') {
      gap: 30px;
      display: flex;
    }
  }

  &__current-score {
    @include center-self(horizontal);
    top: calc(100% + 10px);

    font-family: var(--font-herculanum);
    font-size: var(--text-lg);

    @include respond-to(xs) {
      top: 100%;
    }

    @include respond-to(xl, 'min') {
      top: calc(100% + 30px);
    }

    @include respond-to(xxl, 'min') {
      top: calc(100% + 60px);
    }
  }
}
