@import 'mixins';

.screen-end {
  @extend %cover-background;
  @extend %parent-with-centered-children;
  flex-direction: column-reverse;
  gap: 25px;
  position: relative;
  color: var(--color-text-opposite);

  &__modal {
    @extend %parent-with-centered-children;
    flex-direction: column;
    gap: 30px;

    width: var(--modal-width);

    background-color: var(--color-modal-background);
    outline: 4px solid var(--color-modal-background);
    outline-offset: 5px;
    padding: 20px;
    transition: 140ms linear;

    font-size: var(--text-md);
    font-family: var(--font-herculanum);

    &:hover,
    &:focus-within {
      transform: scale(1.04);
    }
  }

  &__modal-message {
    text-align: center;

    @include respond-to(xs) {
      font-size: var(--text-xs);
    }
  }

  &__gif {
    @extend %parent-with-centered-children;
  }

  &__gif--losing {
    @include respond-to(xs) {
      transform: scale(0.85);
    }

    @include respond-to(sm) {
      width: 90%;
    }
  }

  &__gif--winning {
    height: 400px;
  }
}
